<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Downloads</title>
</head>
<body style="background-image: url({{ url_for('static', filename='other/bg.png') }});
                background-size: cover;
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 20px 0">
    <div style="text-align: center;">
        <h1 style="text-align: center; font-size: 40px;">
            Downloads
        </h1>
        <center>
            <table style="border-collapse: collapse;">
                <tr style="text-align: center; padding: 10px; border: 3px solid black;">
                    <td style="text-align: center; padding: 10px; border: 3px solid black;">
                        <p>
                            Sqlite3 Database
                        </p>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 3px solid black;">
                        <a href="/return-files/" target="blank">Download</a>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body>
</html>