<!DOCTYPE html>
<head>
    <title>Zagorje ob Savi Weather</title>
    <style>
        .table {
            border: 5px solid black;
            border-collapse: collapse;
            padding: 10px;
            font-family: sans-serif;
            font-size: 20px;
            align-content: center;
            text-align: center;
        }
        .centered {
            align-content: center;
            text-align: center;
        }
        .img {
            border: 5px solid black;
        }
    </style>
    <link rel="icon" href="{{ url_for('static', filename='other/web_icon.ico') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='other/bg.png') }});
                background-size: cover;
                height: 100%;
                width: 100%;
                margin: 0;
                padding-top: 20px">
    <div>
        <h1 class="centered" style="padding-bottom: 25px; font-size: 40px;">
            Weather in Zagorje ob Savi
        </h1>
        <div style="width: 70%; text-align: center; align-content: center; margin: auto">
            <table style="width: 100%; text-align: center;">
                <tr style="text-align: center;">
                    <td style="text-align: center;">
                        <center>
                            <table class="table" style="width: 70%;">
                                <tr>
                                    <td class="table">Date:</td>
                                    <td class="table">{{ date }}</td>
                                </tr>
                                <tr>
                                    <td class="table">Temperature:</td>
                                    <td class="table">{{ temp }}</td>
                                </tr>
                                <tr>
                                    <td class="table">Humidity:</td>
                                    <td class="table">{{ moisture }}</td>
                                </tr>
                                <tr>
                                    <td class="table">Sunlight level:</td>
                                    <td class="table">{{ sunlight }}</td>
                                </tr>
                            </table>
                        </center>
                    </td>
                    <td style="text-align: center;">
                        <img class="img" src="{{ temp_plot }}" width="90%" height="auto" style="text-align: center;">
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td>
                    </td>
                    <td style="text-align: center;">
                        <p style="font-family: sans-serif; font-size: 25px; text-align: center;">
                            Temperature levels today.
                        </p>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td>
                        <img class="img" src="{{ humidity_plot }}" width="90%" height="auto" style="text-align: center;">
                    </td>
                    <td>
                        <img class="img" src="{{ light_plot }}" width="90%" height="auto" style="text-align: center;">
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td >
                        <p style="font-family: sans-serif; font-size: 25px; text-align: center;">
                            Humidity levels today.
                        </p>
                    </td>
                    <td style="text-align: center;">
                        <p style="font-family: sans-serif; font-size: 25px; text-align: center;">
                            Light levels today.
                        </p>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td>
                        <img class="img" src="{{ air_plot }}" width="90%" height="auto" style="text-align: center;">
                    </td>
<!--                    <td>-->
<!--                        <img class="img" src="{{ pressure_plot }}" width="90%" height="auto" style="text-align: center;">-->
<!--                    </td>-->
                </tr>
                <tr style="text-align: center;">
                    <td>
                        <p style="font-family: sans-serif; font-size: 25px; text-align: center;">
                            Air pollution levels today.
                        </p>
                    </td>
<!--                    <td style="text-align: center;">-->
<!--                        <p style="font-family: sans-serif; font-size: 25px; text-align: center;">-->
<!--                            Pressure levels today.-->
<!--                        </p>-->
<!--                    </td>-->
                </tr>
            </table>
        </div>
        <div style="text-align: center;">
            <img class="img" src="{{ image }}" width="50%" height="auto" style="margin: 20px auto;"/>
            <p class="centered" style="font-family: sans-serif; font-size:25px;">Live view from the weather station.</p>
            <p class="centered" style="font-family: sans-serif; font-size:25px; padding-bottom: 10px;">Photo and data updated regularly.</p>
            <div style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px; background-color: #3f7e2e;">
                <center>
                    <table>
                        <tr>
                            <td style="padding-right: 12px;">
                                <a href="/file-downloads/" class="centered" style="text-decoration: none;">
                                    <p style="font-family: sans-serif; font-size:22px; color: black;">
                                        <b>DOWNLOADS</b>
                                    </p>
                                </a>
                            </td>
                            <td style="padding-left: 12px;">
                                <a href="/about/" class="centered" style="text-decoration: none;">
                                    <p style="font-family: sans-serif; font-size:22px; color: black;">
                                        <b>ABOUT</b>
                                    </p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>
</body>
