<!DOCTYPE html>
<head>
    <title>Zagorje ob Savi Weather</title>
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
            padding: 3px;
        }
    </style>
</head>
<body>
    <h1 style="align-content: center">
        Weather in Zagorje ob Savi
    </h1>
    <table>
        <tr>
            <td>Date:</td>
            <td>{{ date }}</td>
        </tr>
        <tr>
            <td>Temperature:</td>
            <td>{{ temp }}</td>
        </tr>
        <tr>
            <td>Moisture:</td>
            <td>{{ moisture }}</td>
        </tr>
        <tr>
            <td>Water level:</td>
            <td>{{ water }}</td>
        </tr>
        <tr>
            <td>Sunlight:</td>
            <td>{{ sunlight }}</td>
        </tr>
    </table>
</body>
